.quote-info{
    color: #000;
    background:#2C4BE6;
}

.person-prod-cat{
    color: #000;
    background:#F0E2C6;
}
.person-prod-cat{
    color: #000;
    background:#F0E2C6;
}
.product-description{
    color: #000;
    background:#002DF0;
}
.product-attribute{
    color: #000;
    background:#740203;
}
.certifications{
    color: #000;
    background:#0645FF;
}
.packing-information{
    color: #000;
    background:#3DB038;
}
.not-logo{
    color: #000;
    background:#555555;
}
.logo-moq{
    color: #000;
    background:#12065a;
}

.hs-code{
    color: #000;
    background:#cdeb49;
}


.hs-code{
    color: #000;
    background:#eee;
}

.extra-cost{
    color: #000;
    background:rgb(143, 62, 62);
}
