<div class="container mt-5">
    <h1 class="text-center mt-5">Product Form</h1>

    <div class="container mt-5">
        <form action="">
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header bg-dark " id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn text-white btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       SUPPLIER AND QUOTE INFO
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Name Supplier</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Zhejiang Fengyue Industry&Trade Co.,Ltd</option>
                              <option>Dongguan Wangshi Hardware Products Co., Ltd.</option>
                              <option>Fuzhou Senwell Furniture Manufacture Co., Ltd.</option>
                              <option>Shanghai Zhuohui Technology Co.,Ltd.</option>
                              <option>Fujian Dehua Worsford Ceramics Co., Ltd.</option>
                              <option>Chaozhou Fengxi Dongyang Porcelai</option>
                              <option>Dongguan Moqu Industrial Co., Ltd.</option>

                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Quotation Date</label>
                            <input type="date" class="form-control" >
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Validity of quote (days)</label>
                            <input type="date" class="form-control" >
                          </div>
                        <p>Type Product</p>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                             Simple
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                              Simple child of Configurable
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                              Configurable
                            </label>
                          </div>   
                          <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Number Variation</label>
                            <input type="text" class="form-control" >
                          </div>
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bg-dark " id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        PERSON-PROD-CAT
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-group ">
                            <label for="exampleFormControlInput1">Responsable</label>
                            <input type="text" class="form-control" >
                          </div>
                          <div class="form-group ">
                            <label for="exampleFormControlInput1">Product Code</label>
                            <input type="text" class="form-control" >
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlSelect2">Category</label>
                            <select class="form-control" id="exampleFormControlSelect2">
                              <option>1)Agricultural/Machinery and Structures/ Greenhouses</option>
                              <option>2)Outdoor/Camping/ Tents</option>
                              <option>3)Vehicle accesories and spare parts/Spare parts/ Fi</option>
                              <option>4)Sports/Gym equipment/ Press bench</option>
                              <option>5)Electronics and Technology/Computer accessories/ Mouses, Keyboards, Adapters</option>
                              <option>6)Enterteinment/Slots/</option>
                              <option>7)Home and garden/Smart home/</option>
                              <option>8)Pets/Cats/ Beds</option>
                            </select>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bg-dark " id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        PRODUCT DESCRIPTION AND CHARACTERISTICS							

                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Name of the product</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Main uses of the product</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Lifespan</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">What´s included</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Special features</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Warranty</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Eco Friendly</label>
                            <select class="form-control" id="exampleFormControlSelect2">
                             <option>SI</option>
                             <option>NO</option>
                            </select>
                          </div>

                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header bg-dark " id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseThree">
                            PRODUCT ATTRIBUTES VARIABLE							
                        </button>
                      </h2>
                    </div>
                    <div id="collapseFor" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Configurable</label>
                            <select class="form-control" id="exampleFormControlSelect2">
                             <option>Simple</option>
                             <option>Configurable</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlSelect2">Main Configurable Atributte</label>
                            <select class="form-control" id="exampleFormControlSelect2">
                             <option>Color,panton,design</option>
                             <option>Size</option>
                             <option>Materials</option>
                             <option>Capacity/size</option>
                             <option>Capacity/volumen</option>
                             <option>Weight</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlSelect2">Second Main Atributte (if apply)</label>
                            <select class="form-control" id="exampleFormControlSelect2">
                             <option>Color,panton,design</option>
                             <option>Size</option>
                             <option>Materials</option>
                             <option>Capacity/size</option>
                             <option>Capacity/volumen</option>
                             <option>Weight</option>
                            </select>
                          </div>
                          <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Materials</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Product Size</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Product Weight</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Colors, panton, design, figure</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Capacity/Volumen</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Other Atributte</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Packing Material</label>
                            <input type="text" class="form-control" >
                        </div>
                        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header bg-dark " id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                           CERTIFICATIONS								
                        </button>
                      </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Product certificate</label>
                            <input type="text" class="form-control" >
                        </div>   
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Packaging certificates</label>
                            <input type="text" class="form-control" >
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header bg-dark " id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          PACKAGING INFORMATION			
                        </button>
                      </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Packing</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">PCS per BOX or BAG</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">BOX or BAG per CTN</label>
                            <input type="text" class="form-control" >
                        </div>

                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">CTN size</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Lengh (cm)</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">width (cm)</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">High (cm)</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">NET CTN Weight Kg</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">GROSS CTN weight Kg</label>
                            <input type="text" class="form-control" >
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header bg-dark " id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            NO LOGO PRICE AND INCOTERMS					

                        </button>
                      </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Production Days</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">MOQ (no logo)</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">FOB USD (no logo)</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Selling Format</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Observations Units per Format</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Port</label>
                            <input type="text" class="form-control" >
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header bg-dark " id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEigth" aria-expanded="false" aria-controls="collapseEigth">
                          LOGO MOQ, PRICE, PLACE
                        </button>
                      </h2>
                    </div>
                    <div id="collapseEigth" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">MOQ with Logo</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">FOB USD with Logo</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Logo on Product</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Logo on Packing</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Cost Packing per colors Logo</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">Supplier Artwork (y/n)</label>
                            <input type="text" class="form-control" >
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header bg-dark " id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          HS Code
                        </button>
                      </h2>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">HS Code</label>
                            <input type="text" class="form-control" >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header bg-dark " id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThen" aria-expanded="false" aria-controls="collapseThen">
                            EXTRAS COST (ex.certifications, etc)
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="exampleFormControlInput1">EXTRAS COST</label>
                            <input type="text" class="form-control" >
                        </div>
                      </div>
                    </div>
                  </div>
              </div>


              <button class="btn btn-primary mt-4">Save</button>
        </form>
        
    </div>
    
</div>